.nav {
  &-site {
  }
  &-list {
    display: flex;
    margin-bottom: 0;
    li {
      margin-left: 60px;
      a {
        font-family: $raleway;
        font-weight: bold;
        font-size: 13px;
        text-decoration: none;
        text-transform: uppercase;
        color: #d6d6d6;
        transition: .2s;
        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}